<html>
    <head>
       <script src="angular.min.js"></script>
       <script src="fifth.js"></script>
       <style type="text/css">
           table
           {
            border-collapse: collapse;  
           }
           table tr:nth-child(even){
                 
                 background-color: lightblue;
           }
           td {
                 border: 1px solid
                   padding: 8px;
           }
           table th{
                background-color: blue;
                  padding: 8px;
           }
           </style>
       
    </head>
    <body ng-app="myApp" ng-controller="CDController" >
              
               <div ng-model="CD">
                cdParlor   <input type="text" name="cdParlor" ng-model="cdParlor" ><br><br>
                headofficeAddress   <input type="text" name="headofficeAddress" ng-model="headofficeAddress" ><br>  <br>
              Title: <input type="text" name="title" ng-model="CD.title" ><br><br>
               Language:<input type="text" name="language" ng-model="CD.language" ><br><br>
               Price: <input type="text" name="price" ng-model="CD.price" ><br><br>
               <input type="button" value="submit" name="submit" ng-click="fun(CD)" ><br><br>
               </div>
               </form>
               <br>
               <br><br>
               <h2>CD Details:</h2>
               <table >
                   <tr>
    <th>Title</th>
    <th>Language</th>
    <th>Price</th>
  </tr>
                   <tr ng-repeat="c in cde">
                       <td>
                           {{c.title}}
                           
                           </td>
                           <td>
                           {{c.language}}
                           
                           </td>
                           <td>
                           {{c.price}}
                           
                           </td>
                       </tr> 
                   </table>
               <br><br>       
                      <h3>CD Parlour: {{cdParlor}}</h3>
                      <h3>headofficeAddress: {{headofficeAddress}}</h3>
    </body>
</html>

