<html>
    <head>
       <script src="angular.min.js"></script>
       <script src="second.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="controller1">
        
                    <h1> Please enter below details:</h1>
                    User Name:<input type="text" ng-model="userName">
                    City Name:<input type="text" ng-model="cityName">
                    
                    <div ng-bind="userName | uppercase" >
                     
                    </div>
                    <div ng-bind="cityName | uppercase">
                 
                    </div>
                    <div ng-bind="date| date:'yyyy-MM-dd'">
                 
                    </div>
                    
    </body>
</html>

