<html>
    <head>
       <script src="angular.min.js"></script>
       <script src="sixth.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="Controller" >
              
               <div >
                   <h2>billing amount is {{billingAmount}}</h2>
                   
                   <br>Enter Coupen Code: <input type="text" ng-model="CoupenCode"/><br>
                   </div>
                   <div ng-switch="CoupenCode">
                       <div ng-switch-when="CDMK1610">
                           <br>TotalBillingAmount is:   {{billingAmount-(billingAmount*0.10)}}
                           <!--totalBillingAmount= -->
                           </div>
                           <div ng-switch-when="CDMK1620">
                           <br>TotalBillingAmount is: {{billingAmount-(billingAmount*0.20)}}
                           </div>
                           <div ng-switch-when="CDMK1690">
                           <br>TotalBillingAmount is: {{billingAmount-(billingAmount*0.90)}}
                           </div>
                           <div ng-switch-default>
                           <h2><br>Total Billing Amount without/incorrect Coupen is: {{billingAmount-(billingAmount*0.05)}}</h2>
                           </div>
                       </div>
                   
                   
                   
                    </div> 
    </body>            
    </body>
</html>

