<html>
    <head>
       <script src="angular.min.js"></script>
       <script src="third.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="controller1">
               <div ng-init="fun()">  
               current Date is : {{date}} <br>
               Last modified date of program is: {{modifiedDate}}
               </div>
                    
    </body>
</html>

