<html>
    <head>
       <script src="angular.min.js"></script>
       <script src="first.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="controller1">
        
                    <h1> Add a City Name</h1>
                    <input type="text" ng-model="city">
                   <br/>
				   City Name entered by you is: 
				    <div ng-bind="city">
                     </div>
    </body>
</html>

