<html>
    <head>
       <script src="angular.min.js"></script>
       <script src="fourth.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="CDController" >
              
               <div ng-model="CD">  
              Enter Title of CD <input type="text" name="title" ng-model="CD.title" ><br><br>
              Enter Language <input type="text" name="language" ng-model="CD.language" ><br><br>
              Enter Price <input type="text" name="price" ng-model="CD.price" ><br><br>
               <input type="button" value="submit" name="submit" ng-click="fun(CD)" ><br>
               </div>
               </form>
                       <div ng-repeat="c in cde">
                       {{c.title}} <br>
                       {{c.language}} <br>
                       {{c.price}} <br>
                       </div>
    </body>            </div>
    </body>
</html>

